  /* var color  */
  :root{
    --orange: #FD7522;
    --blue: #1569B2;
    --green: #22B04B;
    --black: #2E3642;
    --white: #ffffff;
}
/* end var color  */

/* -------------------------Table right------------------------- */
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  /* ------------------------------------ */

  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /* ------------------------------------ */

  /* ------------------------------------ */
  input {
    display: block;
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Scroll bar ]*/
  .js-pscroll {
    position: relative;
    overflow: hidden;
  }
  
  .table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
  }
  
  .table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  
  .table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
  }
  
  .table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 100%;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .table100 {
    background-color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column1 {
    width: 33%;
    padding-left: 40px;
  }
  
  .column2 {
    width: 13%;
  }
  
  .column3 {
    width: 22%;
  }
  
  .column4 {
    width: 19%;
  }
  
  .column5 {
    width: 13%;
  }
  
  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .table100-body tr:hover{
    background-color:#ddd;
    cursor:pointer;
  }
  
  /*==================================================================
  [ Fix header ]*/
  .table100 {
    position: relative;
    padding-top: 60px;
    
  }
  
  
  .table100-head {
    position: absolute;
    background-color: #b2bec3;
  
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .table100-body {
    max-height: 480px;
    overflow: auto;
    
  }
  
  
  
  /*==================================================================
  [ Ver2 ]*/
  
  .table100.ver2 .table100-head {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .table100.ver2 th {
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 1.4;
    color: black;
    background-color: transparent;
  }
  
  .table100.ver2 td {
    font-family: FontAwesome;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
    word-break: break-all;
  }
  .table100.ver2 td:first-child{
    margin-top: 200px;
  }
  
  .table100.ver2 .table100-body tr {
    border-bottom: 1px solid #f2f2f2;
  }
  
  /*---------------------------------------------*/
  
  .table100.ver2 {
    border-radius: 0 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .table100.ver2 .ps__rail-y {
    right: 5px;
  }
  
  .table100.ver2 .ps__rail-y::before {
    background-color: #ebebeb;
  }
  
  .table100.ver2 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
  }
  
  /*==================================================================
  
  
/* -------------------------Post------------------------- */
.post{
    float: right;
    margin-right: 30px;

  }
  .post a{
    font-size: 20px;
    border-radius: 8px;
    padding: 1px 5px;
    color: white;
    background: linear-gradient(130deg, #74b9ff, #FD7522);
    transition: all 0.5s;
  }
  .post a:hover{
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* -------------------------forum IT------------------------- */
  .forum-name{
      width: 50%;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin-top: -68px;
      background-color: #FD7522;
      padding: 0 0 0 10px;
      border-radius: 40px 10px 40px 0px;
      transition: all 1s;
      box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .forum-name:hover{
      border-radius: 10px 60px 0 50px;
      /* color: #1e272e; */
      background-image: linear-gradient(#fb872b, #d9e021);
  }
  .forum-name a{
    color: white;
  }
  .forum-name a:hover{
    color: white;
  }
  /* head */
  .column1{
    width: 35%;
  }
  .column2{
    width: 18%;
  }
  .column3{
    width: 18%;
  }
  .column4{
    width: 15%;
  }
  .column5{
    width: 14%;
  }
  /* body */

  /* -------------------------forum GD------------------------- */
  .forum-name-2{
      background-color: #9b59b6;
      margin-top: 60px;
  }
  .forum-name-2:hover{
      border-radius: 10px 60px 0 50px;
      background-image: linear-gradient(#667eea, #764ba2);
  }
  /* -------------------------forum BA------------------------- */
  .forum-name-3{
      background-color: #2ecc71;
      margin-top: 60px;
  }
  .forum-name-3:hover{
      border-radius: 10px 60px 0 50px;
      background-image: linear-gradient(#43e97b, #38f9d7);
  }
/* Table content right*/
@media only screen and (max-width: 1045px){
  .forum-name a{
    font-size: 25px;
  }
}
@media only screen and (max-width: 930px){
  .forum-name-3 a{
    font-size: 24px;

  }
  .container-table100{
    padding: 33px 10px 33px 0;
  }
  .post {
    margin-right: 10px;
}
}
@media only screen and (max-width: 860px){
  .content_right{
    flex: 1;
    padding: 20px 10px 0 0;
    margin: 0 10px;
    border-top: 1px dashed #59585D;
}
.post{
  margin-right: 0;
}
.container-table100{
  padding: 33px 0;
}
.forum-name {
  width: 70%;
}
.forum-name a{
  font-size: 25px;
}
.forum-name-3 a{

}
}
@media only screen and (max-width: 600px){
  .forum-name a{
    font-size: 20px;
  }
}
@media only screen and (max-width: 485px){
  .forum-name-3 a{
    font-size: 18px;
  }
}
/* End Table content right*/
/* End Content right*/

/* -----------------------End Content--------------------- */

/* -------------------------------------------------- */
/* -------------------------------------------------- */
