@media only screen and (max-width:1400px){
    .search-box {
        margin-left: 72%;
      }
      .sign-in  nav .drop-btn{
        margin-left: 170px;
      }
      .sign-in  nav .tooltip{
        right: 60px;
        bottom: -16.5px;
      }
      .sign-in  nav .wrapper{
        left: -40px;
      }
      .main-nav{
        margin-left: 15%;
      }
      .announcements h4{
        font-size: 17px;
        margin-left: 10px;
    }
    .announcements p{
        font-size: 16px;
    }
    .forum-name a{
        font-size: 26px;
      }
      .profile-card{
        width: 80%;
        margin-left: 12%;
      }
      .update-profile-card{
        width: 80%;
        margin-left: 12%;
      }
}
@media only screen and (max-width:1250px){
    .sign-in{
        width: 175px;
    }
    .sign-in  nav .wrapper{
        left: -45px;
      }
      .main-nav{
        margin-left: 12%;
      }
      .announcements h4{
        font-size: 16px;
    }
    .announcements p{
        font-size: 15px;
    }
    .new-post h2{
        font-size: 35px;
    }
    .top-score h2{
        font-size: 35px;
    }
    .contact-btn{
        padding: 8px 50px;
        font-size: 18px;
      }
      .info-detail h6{
        font-size: 18px;
      }
      .info-detail P{
        width: 400px;
        font-size: 16px;
      }
}